body {
	margin: 0 !important;
	padding: 0 !important;
	-webkit-text-size-adjust: 100% !important;
	-ms-text-size-adjust: 100% !important;
	-webkit-font-smoothing: antialiased !important;
}
img {
	border: 0 !important;
	outline: none !important;
}
p {
	Margin: 0px !important;
	Padding: 0px !important;
}
table {
	border-collapse: collapse;
	mso-table-lspace: 0px;
	mso-table-rspace: 0px;
}
td, a, span {
	border-collapse: collapse;
	mso-line-height-rule: exactly;
}
.full-wrap {
  width: 100%;
  border: 0px;
  background-color: #efefef;
  align: center;
}
.main-table {
  width: 700px;
  padding: 0px;
  border: 0px;
  text-align: center;
}
.pad {
  padding: 15px;
  vertical-align: top;
  background-color: #f6f7f8;
  text-align: center;
}
