body {
	margin: 0  !important;
	background-color: #efefef;
	-webkit-text-size-adjust: 100% !important;
	-ms-text-size-adjust: 100% !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Roboto Slab', serif;
}
img {
	border: 0 !important;
	outline: none !important;
}
p {
	Margin: 0px !important;
	Padding: 0px !important;
}
table {
	border-collapse: collapse;
	mso-table-lspace: 0px;
	mso-table-rspace: 0px;
}
h1 {
	color: #5a6463;
}
td, a, span {
	border-collapse: collapse;
	mso-line-height-rule: exactly;
}
.full-wrap {
  width: 100%;
  border: 0px;
  background-color: #efefef;
  text-align: center;
	margin: 0 auto;
}
.main-table {
  width: 100%;
  padding: 0px;
  border: 0px;
  text-align: center;
	display: table-caption;
}
.logo {
	max-width: 200px!important;
}
.pad {
  padding: 5px;
  background-color: #f5f5f5;
}
.top {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #0d1121;
  vertical-align: top;
  text-align: center;
}
.banner-img {
	object-fit: cover;
	display: inline-block;
  max-width: 700px;
  width: 700px;
  height: 375px;
}
.content-section {
  padding: 35px 70px 30px;
  vertical-align: top;
  background-color: #262d2d;
  text-align: center;
}
.content-p1 {
	font-size: 0px;
	line-height: 0px;
	height: 25px;
}
.content-p2 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #fbeb59;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 12px;
	vertical-align: text-top;
	text-align: center;
}
.footer {
	padding: 38px 30px;
	vertical-align: top;
	background-color: #f6f7f8;
	text-align: center;
}
.footer-links {
	color: #999999;
	font-size: 11px;
	line-height: 18px;
	text-decoration: none;
}
.footer-links a {
	color: #999999;
	text-decoration: none;
}
.social-media td {
	vertical-align: top;
	text-align: center;
	text-decoration: none;
}
.social-media tr {
	margin: 0 auto;
}
.social-media img {
	display: block;
	max-width: 26px;
	width: 26px;
	height: 26px;
}
.hide {
	display: none;
}
/*--- Media Queries --*/
@media only screen and (max-width : 1200px) {
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 420px)  {
	.banner-img {
		width: 420px;
	}
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
	.banner-img {
		width: 600px
	}
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 680px) {
	.banner-img {
		width: 420px;
	}
	.content-p2 {
		padding-bottom: 0px;
	}
}
